{% comment %}
  @param class_prefix
  @param filter
  @param filter_group_classes
  @param toggle
{% endcomment %}

{% liquid
  assign should_be_expanded = false

  if filter.type == 'list'
    assign active_values_size = filter.active_values | size
    if active_values_size > 0
      assign should_be_expanded = true
    endif
  elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value
    assign should_be_expanded = true
    assign active_values_size = 1
  endif
%}

  <div
    class="
      sidebar__block
      {{ filter_group_classes }}
    "
    aria-label="{{ 'collections.sorting.title_count.zero' | t }}"
    data-filter-group
    data-faceted-filters
  >
    <h4
      class="
        sidebar__block-heading
        toggle
      "
      aria-haspopup="true"
      aria-expanded="false"
      aria-label="{{ filter.label }}"
    >
      <span tabindex="0">+</span>
      {{ filter.label }} {% if active_values_size > 0 %}({{ active_values_size }}){% endif %}
    </h4>

    {% case filter.type %}
      {% when 'list' %}
        <ul
          class="
            sidebar__block-content
            sidebar__tag-list
            toggle_list
            {{ class_prefix }}-filters__filter
            {{ class_prefix }}-filters__filter-list
          "
          data-filter-group-list
          aria-expanded="false"
        >
          {%- for value in filter.values -%}
            <li
              class="
                {{ class_prefix }}-filters__filter-list-item
                {% if value.active %}
                  sidebar__block-link--active
                {% endif %}
              "
              {% if value.active -%}
                data-filter-open="true"
              {% else %}
                data-filter-open="false"
              {% endif %}
            >
              <a
                class="
                  sidebar__tag-link
                  {{ class_prefix }}-filters__filter-link
                  {% if value.active %}
                    sidebar__tag-link--active
                    {{ class_prefix }}-filters__filter-link--active
                  {% endif %}
                "
                data-name="{{ value.param_name }}"
                data-value="{{ value.value }}"

                {% if value.active -%}
                  data-filter-active
                  data-url="{{ value.url_to_remove | replace: '%2C', ',' }}"
                  href="{{ value.url_to_remove | replace: '%2C', ',' }}"
                {% else %}
                  data-url="{{ value.url_to_add | replace: '%2C', ',' }}"
                  href="{{ value.url_to_add | replace: '%2C', ',' }}"
                {%- endif %}
                {% if value.count == 0 and value.active == false -%}
                  data-disabled
                {%- endif %}
                data-filter-input
              >
                <span
                  type="checkbox"
                  class="{{ class_prefix }}-filters__filter-checkbox"
                  {% if value.active %}data-filter-checked{% endif %}
                  data-filter-checkbox
                  data-handle="filter-{{ filter.label | escape | replace: ' ', '-'}}-{{ forloop.index0 }}"
                >
                  {% render 'check-svg' %}
                </span>
                <span class="{{ class_prefix }}-filters__filter-list-item-text">
                  {{ value.label | escape }}
                  {% if show_product_count %}
                    ({{ value.count }})
                  {% endif %}
                </span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% when 'price_range' %}
        <ul
          class="
            toggle_list
            {{ class_prefix }}-filters__filter
          "
        >
          <form
            id="sidebar-content-{{ block.id }}"
            class="
              sidebar__block-content
              {{ class_prefix }}-filters__price-range-form
            "
          >
            <div
              class="
                {{ class_prefix }}-filters__filter
                {{ class_prefix }}-filters__filter-range
              "
              data-filter-group-range
              aria-expanded="false"
            >
              <div class="{{ class_prefix }}-filters__filter-range--from">
                <label
                  class="{{ class_prefix }}-filters__filter-range-label"
                  for="filter-{{ filter.label }}-from"
                >
                  {{ 'collections.filtering.range_from' | t }}
                </label>
                <div class="{{ class_prefix }}-filters__filter-range-wrapper">
                  <span class="{{ class_prefix }}-filters__filter-range-currency">{{ cart.currency.symbol }}</span>
                  <input
                    class="{{ class_prefix }}-filters__filter-range-input"
                    name="{{ filter.min_value.param_name }}"
                    data-test="{{ filter.active_values }}"

                    id="filter-{{ filter.label }}-from"
                    {% if filter.min_value.value -%}
                      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                    {%- endif %}
                    type="number"
                    placeholder="0"
                    min="0"
                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    data-filter-range
                  >
                </div>
              </div>
              <div class="{{ class_prefix }}-filters__filter-range--to">
                <label
                  class="{{ class_prefix }}-filters__filter-range-label"
                  for="filter-{{ filter.label }}-to"
                >
                  {{ 'collections.filtering.range_to' | t }}
                </label>
                <div class="{{ class_prefix }}-filters__filter-range-wrapper">
                  <span class="{{ class_prefix }}-filters__filter-range-currency">{{ cart.currency.symbol }}</span>
                  <input
                    class="{{ class_prefix }}-filters__filter-range-input"
                    name="{{ filter.max_value.param_name }}"
                    data-test="{{ filter.active_values }}"

                    id="filter-{{ filter.label }}-to"
                    {% if filter.max_value.value -%}
                      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                    {%- endif %}
                    type="number"
                    placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    min="0"
                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    data-filter-range
                  >
                </div>
              </div>
            </div>
            <button
              class="
                action_button
                action_button--secondary
                {{ class_prefix }}-filters__filter-range-submit
              "
              type="button"
              data-range-filter-button
            >
              {{ 'collections.filtering.range_submit' | t }}
            </button>
          </form>
        </ul>
    {% endcase %}
  </div>
