{% assign cols = content | split: '<!-- split -->' %}
{% if cols.size == 2 %}
  <div
    class="
      one-half
      column
      medium-down--one-whole
    "
  >
    {{ cols[0] }}
  </div>

  <div
    class="
      one-half
      column
      medium-down--one-whole
    "
  >
    {{ cols[1] }}
  </div>
{% elsif cols.size == 3 %}
  <div
    class="
      one-third
      column
      medium-down--one-whole
    "
  >
    {{ cols[0] }}
  </div>

  <div
    class="
      one-third
      column
      medium-down--one-whole
    "
  >
    {{ cols[1] }}
  </div>

  <div
    class="
      one-third
      column
      medium-down--one-whole
    "
  >
    {{ cols[2] }}
  </div>
{% elsif cols.size == 4 %}
  <div
    class="
      one-fourth
      column
      medium-down--one-whole
    "
  >
    {{ cols[0] }}
  </div>

  <div
    class="
      one-fourth
      column
      medium-down--one-whole
    "
  >
    {{ cols[1] }}
  </div>

  <div
    class="
      one-fourth
      column
      medium-down--one-whole
    "
  >
    {{ cols[2] }}
  </div>

  <div
    class="
      one-fourth
      column
      medium-down--one-whole
    "
  >
    {{ cols[3] }}
  </div>
{% else %}
  <div class="one-whole column">
    {{ content }}
  </div>
{% endif %}
