<section class="section global-wrapper__customer">
  <div class="container main-wrapper">
    <div
      class="
        one-whole
        column
        collection_nav
      "
    >
      <h1 class="center">
        {{ 'customer.reset_password.title' | t }}
      </h1>

      <div class="feature_divider"></div>
    </div>

    <div
      class="
        three-eighths
        columns
        medium-down--one-whole
        offset-by-five
        is-hidden-offset-mobile-only
      "
    >
      <br />

      {% form 'reset_customer_password' %}
        <p class="center">
          <em>{{ 'customer.reset_password.subtext' | t: email: email }}</em>
        </p>

        {{ form.errors | default_errors }}

        <div id="password">
          <label for="customer_password">
            {{ 'customer.reset_password.password' | t }}
          </label>

          <input
            class="password"
            id="customer_password"
            type="password"
            name="customer[password]"
            size="16"
          >
        </div>

        <div id="password_confirm">
          <label for="customer_password_confirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>

          <input
            class="password"
            id="customer_password_confirmation"
            type="password"
            name="customer[password_confirmation]"
            size="16"
          >
        </div>

        <p>
          <input
            class="
              btn
              action_button
            "
            type="submit"
            value="{{ 'customer.reset_password.submit' | t }}"
          >
        </p>
      {% endform %}
    </div>
  </div>
</section>
