{% liquid
  assign toggle = section.settings.toggle
  assign filter_block = nil
  assign active_filters = false

  for block in section.blocks
    if block.type == 'filter'
      assign filter_block = block
    endif
  endfor

  assign show_product_count = filter_block.settings.show_filter_product_count

  for filter in collection.filters
    if filter.active_values.size > 0 or filter.min_value.value or filter.max_value.value
      assign active_filters = true
      break
    endif
  endfor
%}

<section class="section">
  <div class="container main-wrapper">
    {% paginate collection.products by section.settings.pagination_limit %}
      {% if section.settings.show_collection_title %}
        <div class="one-whole column">
          <h1 class="center">
            {{ collection.title | escape }}
          </h1>
          <div class="feature_divider"></div>
        </div>
      {% endif %}

      {% if section.settings.show_breadcrumb_links %}
        <div
          class="
            one-half
            column
            medium-down--one-whole
            breadcrumb--text
          "
        >
          <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}">
            {{ 'general.breadcrumbs.home' | t }}
          </a>

          &nbsp;<span class="icon-arrow-right"></span>

          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
            {{ collection.title }}
          </a>

          {% if current_tags %}
            {% for tag in current_tags %}
              &nbsp;<span class="icon-arrow-right"></span>
              <a href="{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}">
                {{ tag }}
              </a>
            {% endfor %}
          {% endif %}

          {% if paginate.pages != 0 %}
            &nbsp;<span class="icon-arrow-right"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
        </div>
      {% endif %}

      {% if collection.handle != blank and collection.products_count > 0 and section.settings.collection_sort %}
        <div
          class="
            one-half
            column
            medium-down--one-whole
            {% if section.settings.show_breadcrumb_links == false %}
              offset-by-eight 
              is-hidden-offset-mobile-only
            {% endif %}
          "
        >
          <div class="collection-filters">
            <div class="filter-wrap">
              <label for="sort-by">
                {{ 'collections.sorting.title' | t }}:
              </label>

              <select id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by }}">
                <option value="manual">
                  {{ 'collections.sorting.featured' | t }}
                </option>

                <option value="best-selling">
                  {{ 'collections.sorting.best_selling' | t }}
                </option>

                <option value="title-ascending">
                  {{ 'collections.sorting.az' | t }}
                </option>

                <option value="title-descending">
                  {{ 'collections.sorting.za' | t }}
                </option>

                <option value="price-ascending">
                  {{ 'collections.sorting.price_ascending' | t }}
                </option>

                <option value="price-descending">
                  {{ 'collections.sorting.price_descending' | t }}
                </option>

                <option value="created-descending">
                  {{ 'collections.sorting.date_descending' | t }}
                </option>

                <option value="created-ascending">
                  {{ 'collections.sorting.date_ascending' | t }}
                </option>
              </select>
            </div>
          </div>
        </div>
      {% endif %}

      {% if collection.description != blank %}
        <div class="one-whole column">
          <div class="collection_description">
            {{ collection.description }}
          </div>
        </div>
      {% endif %}

      {% comment %} Check to see if sidebar should be enabled {% endcomment %}
      {% if section.blocks.size > 0 %}
        {% assign sidebar = true %}
      {% else %}
        {% assign sidebar = false %}
      {% endif %}

      {% if section.blocks.size == 1 and filter_block and collection.filters.size == 0 %}
        {% assign sidebar = false %}
      {% endif %}

      <div
        class="
          content-wrapper
          is-flex
          is-flex-wrap
        "
        >
        {% if sidebar %}
          {%
            render 'sidebar',
            toggle: toggle,
            filter_group_classes: 'sidebar__block-faceted-search',
            show_product_count: show_product_count,
            class_prefix: 'faceted',
            context: 'collection'
          %}
        {% endif %}

        <div class="has-sidebar-option sidebar-enabled--{{ sidebar }}">
          <div class="container">
            {% if filter_block and collection.filters.size > 0 %}
              <div
                class="
                  faceted-filters-modal__wrapper
                  column
                  one-whole
                "
              >
                <button
                  class="
                    action_button
                    faceted-filters-modal__link
                  "
                  aria-label="{{ 'collections.sorting.filter' | t }}"
                  data-filter-modal-open
                >
                  {{ 'collections.sorting.filter' | t }}
                </button>
              </div>
            {% endif %}
            {% if filter_block and active_filters %}
              <div
                class="
                  collection-filter-active-tags
                  one-whole
                  column
                  medium-down--one-whole
                "
              >
                {% assign current_sort = collection.sort_by | default: collection.default_sort_by %}
                {%- capture clear_url -%}
                  {{ collection.url }}?sort_by={{ current_sort }}
                {%- endcapture -%}
                {%
                  render 'faceted-filters-active',
                  class_prefix: 'faceted',
                  filter_type: collection.filters,
                  clear_url: clear_url,
                %}
              </div>
            {% endif %}

            {% if collection.products.size == 0 %}
              <p class="quote">
                {{ 'collections.general.no_matches' | t }}
              </p>
            {% else %}
              {% for product in collection.products limit: section.settings.pagination_limit %}
                {%
                  render 'product-thumbnail',
                  product: product,
                  products_per_row: section.settings.products_per_row,
                  sidebar: sidebar
                %}
              {% endfor %}
            {% endif %}

            {%
              render 'pagination',
              sidebar: sidebar,
              paginate: paginate
            %}
          </div>
        </div>
      </div>
    {% endpaginate %}
  </div>
</section>

{% schema %}
  {
    "name": "Collection",
    "class": "shopify-section--collection-template",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_title",
        "label": "Show collection title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumb_links",
        "label": "Show breadcrumb links",
        "default": true
      },
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Products per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 48
      },
      {
        "type": "header",
        "content": "Sorting"
      },
      {
        "type": "checkbox",
        "id": "collection_sort",
        "label": "Show sorting options"
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "paragraph",
        "content": "Create a sidebar by adding content blocks."
      },
      {
        "type": "checkbox",
        "id": "toggle",
        "label": "Toggle sidebar content",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "filter",
        "name": "Filters",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_filter_product_count",
            "label": "Show product counts",
            "default": true
          }
        ],
        "limit": 1
      },
      {
        "type": "filter_by_collection",
        "name": "Collection list",
        "limit": 1
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "custom_menu_linklist",
            "label": "Menu"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "page",
            "id": "content_page",
            "label": "Page"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Text area can be used for special announcements or general information.</p>"
          }
        ]
      },
      {
        "type": "filter_by_type",
        "name": "Type list",
        "limit": 1
      },
      {
        "type": "filter_by_vendor",
        "name": "Vendor list",
        "limit": 1
      }
    ]
  }
{% endschema %}
