<section class="section">
  <div class="container main-wrapper">
    {% if section.settings.banner_image == blank %}
      <div class="one-whole column">
        <h1 class="center">{{ page.title }}</h1>
        <div class="feature_divider"></div>
      </div>
    {% endif %}

    <div class="contact_form contact-template_contact_form contact_form_position--{{ section.settings.form_position }} contact_text_alignment--{{ section.settings.form_text_alignment }}">
      <div class="{% if section.settings.form_position == 'center' %}one-half column medium-down--one-whole{% else %}seven columns medium-down--one-whole{% endif %} contact_content">
        {{ page.content }}
      </div>

      <div class="one-half column medium-down--one-whole">
        {% form 'contact', class: 'is-flex is-flex-wrap' %}
          {% if form.posted_successfully? %}
            <p class="quote">{{ 'contact.form.post_success' | t }}</p>
          {% endif %}

          {% if form.errors %}
            <p class="quote">{{ 'general.forms.post_error' | t }}</p>

            {%- assign message = 'contact.form.message' | t -%}

            <ul class="center">
              {% for field in form.errors %}
                {% if field == 'form' %}
                  <li>{{ form.errors.messages[field] }}</li>
                {% else %}
                  <li>
                    {%- assign field_name = field | replace: 'body', message -%}
                    {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}

          <div class="contact__form-name">
            {%- assign name_attr = 'contact.form.name' | handle -%}
            <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
            <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
          </div>

          <div class="contact__form-email">
            <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
            <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
          </div>

          <div class="contact__form-message">
            <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
            <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            {{ section.settings.contact_form_text }}
            <input type="submit" class="submit action_button" value="{{ 'contact.form.send' | t }}" />
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% if section.settings.map_address != blank or section.settings.image != blank %}
  <br />
  {% include 'map-layout' %}
{% endif %}

<style>
  {% if section.settings.parallax_effect %}
    #banner-{{ section.id }} .parallax__wrap,
    #banner-{{ section.id }} .parallax__container .parallax {
      height: {{ section.settings.parallax_image_height }}px;
    }
  {% endif %}

  #banner-{{ section.id }} .parallax__container .parallax {
    background-position: {{ section.settings.image_focal_point}} !important;
  }

  #banner-{{ section.id }} .banner__wrap img {
    object-position: {{ section.settings.image_focal_point }};
    -o-object-position: {{ section.settings.image_focal_point }};
  }

  @media only screen and (max-width: 798px) {
    {% if settings.slideshow_images_crop or section.settings.parallax_effect and settings.enable_mobile_parallax %}
      #banner-{{ section.id }} .banner__wrap,
      #banner-{{ section.id }} .parallax__wrap,
      #banner-{{ section.id }} .parallax__container .parallax {
        height: {{ section.settings.parallax_image_height | divided_by: 2 }}px;
      }
    {% else %}
      #banner-{{ section.id }} .banner__wrap,
      #banner-{{ section.id }} .parallax__wrap {
        height: auto;
      }
    {% endif %}
  }
</style>

{% schema %}
  {
    "name": "Contact page",
    "class": "shopify-section--page-contact-template",
    "settings": [
      {
        "type": "header",
        "content": "Contact form"
      },
      {
        "type": "select",
        "id": "form_position",
        "label": "Form position",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "contact_form_text",
        "label": "Form text"
      },
      {
        "type": "select",
        "id": "form_text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Parallax"
      },
      {
        "type": "checkbox",
        "id": "parallax_effect",
        "label": "Enable parallax scrolling",
        "default": true
      },
      {
        "type": "range",
        "id": "parallax_image_height",
        "label": "Parallax section height",
        "min": 300,
        "max": 1000,
        "step": 20,
        "default": 400,
        "unit": "px"
      }
    ]
  }
{% endschema %}
