<section class="section section--{{ section.id }}">
  <div class="container">
    <div
      class="
        one-whole
        column
        {{ section.settings.text_alignment }}
      "
    >
      {% if section.settings.image != blank %}
        {%
          render 'image-element',
          image: section.settings.image,
          alt: section.settings.image.alt,
        %}
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="title {{ section.settings.text_alignment }}">
          {{ section.settings.title | escape }}
        </h2>

        {% if section.settings.show_divider %}
          <div class="feature_divider"></div>
        {% endif %}
      {% endif %}

      {% if section.settings.content != blank %}
        <div class="richtext_content--{{ section.settings.text_size }} {{ section.settings.text_alignment }}">
          {{ section.settings.content }}
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <p>
          <a class="action_button" {% if section.settings.button_link != blank %}href="{{ section.settings.button_link }}"{% endif %}>
            {{ section.settings.button_label | escape }}
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</section>

<style>
  .section--{{ section.id }} img {
    max-width: {{ section.settings.logo_width }}px;
    min-width: {{ section.settings.logo_width }}px;
  }
</style>

{% schema %}
  {
    "name": "Rich text",
    "class": "shopify-section--rich-text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Logo",
        "info": "600 x 600px recommended"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo display width",
        "step": 5,
        "min": 105,
        "max": 205,
        "default": 200,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "checkbox",
        "id": "show_divider",
        "label": "Show divider",
        "default": true
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "featured_text",
        "options": [
          {
            "value": "regular_text",
            "label": "Regular"
          },
          {
            "value": "featured_text",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
