{% comment %}
** Logo list - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %} Content settings {% endcomment %}
{%- assign title = section.settings.title | escape -%}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

<section class="section">
  <div class="container">

    {% if title != blank %}
      <div class="one-whole column section heading-container">
        <div class="line"></div>
          <h3 class="title">{{ title }}</h3>
        <div class="line"></div>
      </div>
    {% endif %}

    {% if blocks.size > 0 %}
      <div class="one-whole column col-blocks">
        <div class="logo-bar tgb-row">
          {% for block in blocks %}
            {% comment %} Content settings {% endcomment %}
            {%- assign image = block.settings.image -%}
            {%- assign link = block.settings.link -%}
            {% comment %} End content settings {% endcomment %}

            <div class="tg-banner" {{ block.shopify_attributes }}>
              {% if link != blank %}
                <a href="{{ link }}" class="logo-bar__link">
              {% endif %}

                <img width="100%" height="100%" class="tgb-image lazy2 lazyload"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                     data-src="{{ block.settings.image | img_url: '555x' }}" alt="{{ block.settings.image.alt | escape }}">
              

              {% if link != blank %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</section>
<style>
.container {
  justify-content: center;
}
.logo-bar.tgb-row {
    display: flex;
/*     gap: 20px; */
    flex-wrap: wrap;
    justify-content: center;
}
.tg-banner {
    flex: 0 0 45%;
  	margin-left: 10px;
    margin-right: 10px;
}
@media (max-width: 576px) {
  .two-col-banner .container {
    justify-content: space-around;
  }
  .tg-banner {
    flex: 0 0 calc(50% - 5px);
    margin: 0;
  }
  .one-whole.column.col-blocks {
    margin: 0;
    width: 100%;
  }
  .logo-bar.tgb-row {
    gap: 10px;
  }
}
/*   .tg-banner {
  	margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  } */
</style>

{% schema %}
  {
    "name": "Two Columns Banner",
    "class": "two-col-banner",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Column Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "600 x 600px recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Two Columns Banner",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
{% endschema %}
